body { 
    background-color: #fff;
    color: #333;
    font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}


.playable {
    font-family: monospace;
    display: block;
    background-color: #F4F7F8;
    border: 5px solid #240baf;
    color: #4D4E53;
    width: 90%;
    max-width: 700px;
    padding: 10px 10px 0px;
    font-size: 90%;
    margin:20px auto;
  }

  .playable-css {
    height: 80px;
  }

  .playable-html {
    height: 160px;
  }

  .playable-buttons {
    text-align: center;
    width: 90%;
    max-width: 700px;
    padding: 5px 10px 5px 26px;
    font-size: 100%;
    display:none;
  }

  .preview {
    width: 90%;
    max-width: 700px;
    border: 5px solid #4D4E53;
    border-radius: 2px;
    padding: 10px 14px 10px 10px;
    margin:20px auto;
  }

  .preview input {
    display: block;
    margin: 5px;
  }